@import "../../dynamicAspectRatio.scss";
@import "../../paused.scss";
@import "../../relative.scss";

.game {
  @include dynamicAspectRatio;
  @include relative;
  text-align: center;
  max-height: 100%;
  overflow: hidden;

  .paused {
    @include paused;
    background-color: #ffffffd0;

    .pausedContent {
      max-height: 100%;
      overflow: auto;
    }
  }
}
