.loading {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;

  > :nth-child(1) {
    flex: 0 0 auto;
    max-height: 50%;
    overflow: auto;
  }

  :nth-child(2) {
    flex: 1 1 auto;
  }
}
